<<<<<<< HEAD
header{
    background-color: #FF0000; height: 70px;width:100%;
=======
header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
>>>>>>> 0066b1e6da1995892b2423debbb57750e1caea02
}
