header {
<<<<<<< HEAD
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
=======
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px #CCCCCC solid;
}
.icon {
	width: inherit;
	height: inherit;
	background: url('../images/logo.png') no-repeat;
	background-size: contain;
	background-position: 20px 50%;
>>>>>>> 0066b1e6da1995892b2423debbb57750e1caea02
}
